body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gsc-control-wrapper-cse{
  margin-left: 10%;
  position: absolute;
}

.sidebar{
  margin-right: 50%;

  display: flex;
  align-items: end;
  background-color: #567281;
  height: 100%;
  width: 30%;
  position: absolute;
}
